/* SOCIAL MEDIA */
.socials{
  margin-top:30px;
  display:flex;
  justify-content:center;
  gap:25px;
}

.socials a{
  width:50px;
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  background:#111;
  color:#00ffd5;
  font-size:22px;
  transition:0.3s;
  text-decoration:none;
}

.socials a:hover{
  background:#00ffd5;
  color:#000;
  box-shadow:0 0 15px #00ffd5;
}